<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="System.Windows.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    
    <add key="Header1" value="Header1"/>
    <add key="Header2" value="Header2"/>
    <add key="Header3" value="Header3 "/>
    <add key="Header4" value="Header4"/>
    <add key="Header5" value="Header5"/>
    <add key="Header6" value="Header6"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  
    <add key="IsCreateNewCustomerKey" value="1" />
    <add key="CustomerKey" value="yWEfVaImGCIi/+qug+d/KkW9Q==" />
    <add key="ProductKey" value="IW1SNF9CfyYI2Dxfgwt/epTan8E8IzlYtftGoK735Jvbd70x/YCKfsPPM39MK/Y85lmzv38Eo8C+Ee/DngTEugax5vtYk6hExJFmqAs6TMbL4gbagOboR4v/wmD6frmVgzAT+IOvlOcMrWxuEDNBA8HlJpPWB2RqbydXX4FE/M0="/>
    <add key="DefaultCustomerCodePrefix" value="551" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
